pkgbase = vim
	pkgver = 7.4.678
	pkgrel = 1
	url = http://www.vim.org
	arch = i686
	arch = x86_64
	license = custom:vim
	makedepends = gpm
	makedepends = perl
	makedepends = python2
	makedepends = python
	makedepends = lua
	makedepends = desktop-file-utils
	makedepends = gtk2
	makedepends = gettext
	makedepends = pkgconfig
	makedepends = sed
	makedepends = mercurial
	makedepends = qt4
	makedepends = ruby
	source = hg+https://code.google.com/p/vim/#tag=v7-4-678
	source = vimrc
	source = peaksea.vim
	source = gvim.desktop
	source = license.txt
	source = vim-qt-src.patch
	source = qt-icons.tar.gz
	source = qvim.desktop
	source = qvim.png
	sha256sums = SKIP
	sha256sums = 868486500e70b4b45618cdae32fdb3b228baf3995e9ccce5e86bf54780431056
	sha256sums = 1cbb92f80c981a9618bc50a626e2713435b7014cac842e664d0b3027f86bd209
	sha256sums = 5f2d65e755424f688b990b20bce6bd84718b9d5f7944a5332b5dee72f09493f7
	sha256sums = bb4744930a0030085d382356e9fdd4f2049b6298147aee2470c7fca7ec82fd55
	sha256sums = 8cfb84f5b06bd27e7e31bf698ae38826e705369f618bb15322d147214d30f543
	sha256sums = e08adea5da6db4677b6b77dd5e6d9fce37395d9b44c7a171ea10909d307b2334
	sha256sums = e61684f12ec23944903e37deb9d902a072ffa71d7c00fedea32c1176d84dc9bd
	sha256sums = c530f9d5dc6beb2cfa9e4e60dc8f74e1a26694d9f090f7ab0d40f8e963cfb280

pkgname = vim-tiny
	pkgdesc = Vi Improved, tiny edition
	provides = vim
	conflicts = vi
	conflicts = vim

pkgname = vim-cli
	pkgdesc = Vi Improved, cli
	depends = vim-rt=7.4.678-1
	depends = gpm
	depends = libxt
	optdepends = perl: vim perl binding
	optdepends = python2: vim python2 binding
	optdepends = python: vim python3 binding
	optdepends = lua: vim lua binding
	optdepends = ruby: vim ruby binding
	provides = vim
	conflicts = vi
	conflicts = vim

pkgname = vim-gvim-gtk
	pkgdesc = Vi Improved, gtk gui
	install = gvim.install
	depends = vim-cli
	depends = vim-gvim-common
	depends = desktop-file-utils
	depends = gtk2
	provides = gvim

pkgname = vim-gvim-qt
	pkgdesc = Vi Improved, qt gui
	install = gvim.install
	depends = vim-cli
	depends = vim-gvim-common
	depends = desktop-file-utils
	depends = qt4
	provides = gvim

pkgname = vim-rt
	pkgdesc = Runtime for vim and gvim
	provides = vim-runtime
	conflicts = vim-runtime
	backup = etc/vimrc

pkgname = vim-gvim-common
	pkgdesc = common files for gvim/qvim

